

.luxeliving{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    background: url("img/bg.jpg");
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position:center ;
    margin-top: 4rem;

}
.luxeliving h2{
    color: #fff;
}
.luxe-box{
    margin-top: 2rem;
}
.luxe-box input{
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;

}
.luxe-box .btn{
        height: 44px;
        padding: 11px;
        border-radius: 0;
        font-weight: 500;
        text-transform: uppercase;
        margin: 1rem;
}
