header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    
  }
  

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .menu-right {
    display: flex;
    align-items: center;
    gap: 15px; 
  }
  
  .menu-icon {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .nav-cart-icon{
    font-size: 1.5rem;
    cursor: pointer;
  }
  .navbar {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .navbar li {
    list-style: none;
  }
  
  .navbar a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: #ff6600;
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: white;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }
  
    .navbar.active {
      display: flex;
    }
  
    .navbar li {
      padding: 10px 0;
    }
  }
  