@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}
:root{
    --text-color:#000000;
    --main-color:#83b735;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;

}

section{
    padding: 50px 10%;
}


.logo{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--text-color);

}

.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    position: relative;
}
.navbar a{
   font-size: 1rem;
   padding: 10px 20px;
   font-weight: 500;
   color: var(--text-color);
 
}
.navbar a:hover{
    color: var(--main-color);
   
}
#menu-icon{
    font-size: 1.2rem;
    display: none;
    cursor:pointer;
}


.home{
    width: 100%;
    min-height: 100vh;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
} 
.home-text h1{
    font-size: 2.7rem;
}

.home-text p {
        font-size: 0.938rem;
        margin: 0.4rem 0 1.8rem;
        width: 40rem;
}
.home-text span{
    color:var(--main-color);
}

.btn{
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    border: none;
    
}
.btn:hover{
        background: #8fc53d;
}

.heading{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
}
.heading span{
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 500;
} 
.heading h2{
    font-size: 1.5rem;
}
.shop-container,.new-container{
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto; 
    gap: 5rem;
}
.box{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    max-width:15rem;
    max-height: 30rem;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
.box:hover{
    transform: scale(1.02);
}
.box-img {
    width: 100%;   
    height: 280px; 
    overflow: hidden; 
}

.box-img img{
    max-width: 15rem;
    border-radius: 20px 20px 0 0;
    padding: 9px;
    
}
.box-img img:hover{
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;

}
.title-price{
    display: flex;
    justify-content: space-between;
    padding:12px;
}
.title-price h3{
    font-size: 1rem;
    font-weight: 600;
    
}
.box span{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}
.stars {
    color: var(--main-color);
    font-size: 0.8rem;
}

.title-price2{
    display: flex;
    justify-content: space-between;
    padding:0px 13px 8px 5px;
}
.cart-icon{
    padding: 4px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
    font-size: 15px;
}
 .cart-icon:hover{
    background-color: #000000;
    color: #8fc53d;
    transition: 0.2 ease-in-out;
 }


.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 5rem;
    
}

.about-img img{
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    border-radius: 8px;
}

.about-text span{
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}
.brands-container img{
    width: 100px;
    transition: transform 2s ease-in-out;
}
.brands-container img:hover{
    filter: grayscale(1);
}
.luxeliving{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    background: url("img/bg.jpg");
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position:center ;
    margin-top: 4rem;

}
.luxeliving h2{
    color: #fff;
}
.luxe-box{
    margin-top: 2rem;
}
.luxe-box input{
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;

}
.luxe-box .btn{
        height: 44px;
        padding: 11px;
        border-radius: 0;
        font-weight: 500;
        text-transform: uppercase;
        margin: 1rem;
}


  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible column sizing */
    gap: 30px; 
    padding:10px; 
    justify-content: center;
    
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
   
  }
  
  .footer-box {
    padding: 20px;
    max-width: 400px; 
  
  }
  
  .footer-box h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  
  .footer-box p {
    margin: 8px 0;
    font-size: 0.9rem;
    line-height: 1.5; 
  }



  /* responsive */

@media(max-width:991px) {
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    
}

@media(max-width:891px) {
   .home-text h1{
    font-size: 2rem;
   }
    .shop-container,.new-container{
        grid-template-columns: auto auto
}
.box{
  
    max-width:14rem;
    max-height: 22rem;
}
.box-img {
    
    height: 260px; 

}

.box-img img{
    max-width: 14rem;
   
}
.title-price{
  
    padding:12px;
}
.title-price h3{
    font-size: 0.7rem;
    font-weight: 600;
    
}
.box span{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}
.stars {
   
    font-size: 0.7rem;
}


.cart-icon{
    
    font-size: 13px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Flexible column sizing */
    gap: 20px; 
    padding:10px; 
    justify-content: center;
    
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
   
  }
  
  .footer-box {
    padding: 20px;
    max-width: 400px; 
   
  
  }
  
  .footer-box h2 {
    margin-bottom: 12px;
    font-size: 1.2rem;
  }
  
  .footer-box p {
    margin: 8px 0;
    font-size: 0.7rem;
    line-height: 1.5; 
  }


}

@media(max-width:1151px){
    .footer{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));   
    }
}
@media(max-width:709px){
    .footer{
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));   
    }
}
