.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .loginsignup-cotainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin-top: 5rem;
  }
  
  .loginsignup-cotainer h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-signup-fields input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #83b735;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  .Loginsignup-login {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .Loginsignup-login span {
    color: #007bff;
    cursor: pointer;
  }
  
  .Loginsignup-login span:hover {
    text-decoration: underline;
  }
  
  .loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 2px;
  }
  
  .loginsignup-agree input {
    margin-right: 10px;
  }
  
  .loginsignup-agree p {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
  }
  